<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Signup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar">
            <div class="container-fluid">
                <h1 class="navabar-brand">Login</h1>
            </div>
    </nav>
    <div class="container-fluid">
        <div class="input-group mb-3">
        <span class="input-group-text" id="displayName">username</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
        <span class="input-group-text" id="Password">Password</span>
        <input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-primary">Signup</button>
        </div>
    </div>