{% extends "layout.html" %}

{% block content %}

    <nav class="navbar">
            <div class="container-fluid">
                <h1 class="navabar-brand">Login</h1>
            </div>
    </nav>

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

{# Show non-field errors (e.g. password mismatch) #}
{{ form.non_field_errors }}

<div class="container-fluid">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="input-group mb-3">
            <label class="input-group-text" for="username">{{ form.username.label }}</label>
            <input type="text" class="form-control" name="username">
            {{form.username.errors}}
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="password">{{ form.password.label }}</label>
            <input type="text" class="form-control" name="password">
            {{form.password.errors}}
        </div>
        
        <div class="d-flex">
            <input type="submit" class="me-auto btn btn-primary" value="Login">
            <a class="ms-auto btn btn-secondary" href="{% url 'login' %}">Login</a>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>


{# Remove this later #}
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

<a href="{% url 'register' %}">Sign Up</a>

{% endblock %}
