{% extends "layout.html" %}

{% block content %}

<nav class="navbar">
        <div class="container-fluid">
            <h1 class="navbar-brand">Login</h1>
        </div>
</nav>

{# Show non-field errors (e.g. password mismatch) #}
{{ form.non_field_errors }}

<div class="container-fluid">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="input-group mb-3">
            <label class="input-group-text" for="username">Username</label>
            <input type="text" class="form-control" name="username">
            {{form.username.errors}}
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="password">Password</label>
            <input type="password" class="form-control" name="password">
            {{form.password.errors}}
        </div>

        <div class="d-flex justify-content-end">
            <input type="submit" class="me-auto btn btn-primary" value="Login">

        
        <input type="hidden" name="next" value="{{ next }}">
    </form>

        {% if user.user_type == "seller" %}
            <a class="btn btn-secondary me-1" href="{% url 'seller_profile_view_url' %}">Seller profile</a>
        {% endif %}

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary me-1">Logout</button>
        </form>

        <a class="btn btn-secondary" href="{% url 'register' %}">Sign Up</a>
    </div>
</div>

{% endblock %}
