{% extends "layout.html" %}

{% block content %}

{% if form.errors %}
    <p>Error signing up. Please check your details.</p>
{% endif %}

{% if messages%}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{message.tags}}"{%endif%}>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}

{# Show non-field errors (e.g. password mismatch) #}
{{ form.non_field_errors }}

<nav class="navbar">
        <div class="container-fluid">
            <h1 class="navabar-brand">Enter Seller Details</h1>
        </div>
</nav>

<div class="container-fluid">
    <form method="post" action=""> {% csrf_token %}
        <div class = "input-group mb-3">
            <span class="input-group-text" id="location">Location</span>
            <input type="text" class="form-control" name="location" placeholder="Exeter">
        </div>
        <div class = "input-group mb-3">
            <span class="input-group-text" id="opening_time">Opening Time</span>
            <input type="text" class="form-control" name="opening_time" placeholder="09:00">
        </div>
        <div class = "input-group mb-3">
            <span class="input-group-text" id="closing_time">Closing Time</span>
            <input type="text" class="form-control" name="closing_time" placeholder="17:00">
        </div>
        <div class = "input-group mb-3">
            <span class="input-group-text" id="telephone_number">Telephone Number</span>
            <input type="text" class="form-control" name="telephone_number" placeholder="440123456789">
        </div>
        <div class = "input-group mb-3">
            <span class="input-group-text" id="website_url">Website URL</span>
            <input type="text" class="form-control" name="website_url" placeholder="https://www.exeter.ac.uk/">
        </div>
    <button type="submit" value="Save Seller Details" class="btn btn-primary">Sign Up!</button>

</form>

{% endblock %}