{% extends "layout.html" %}

{% block content %}

<h1>Create an Account</h1>

{% if form.errors %}
    <p>Error signing up. Please check your details.</p>
{% endif %}

{# Show Django messages (e.g., "Check your details") #}
{% if messages%}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{message.tags}}"{%endif%}>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}

{# Show non-field errors (e.g. password mismatch) #}
{{ form.non_field_errors }}

<form method="post" action="/accounts/register/">
{% csrf_token %}

<table>
<tr>
    <td>{{ form.user_type.label_tag }}</td>
    <td>{{ form.user_type }}</td>
    {{form.user_type.errors}}
</tr>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
    {{form.username.errors}}
</tr>
<tr>
    <td>{{ form.email.label_tag }}</td>
    <td>{{ form.email}}</td>
    {{form.email.errors}}
</tr>
<tr>
    <td>{{ form.password1.label_tag }}</td>
    <td>{{ form.password1}}</td>
    {{form.password1.errors}}
</tr>
<tr>
    <td>{{ form.password2.label_tag }}</td>
    <td>{{ form.password2}}</td>
    {{form.password2.errors}}
</tr>
</table>

<input type="submit" value="Sign Up">
<input type="hidden" name="next" value="{{ next }}">
</form>

<a href="{% url 'login' %}">Login</a>

{% endblock %}