{% extends 'layout.html' %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js "></script>

<script type="module">
    (async function() {
    
    let data = JSON.parse("{{ sell_through_price | escapejs }}");
    console.log(data);

    new Chart(
        document.getElementById('sell-through-graph'),
        {
            type: 'line',
            options: {
                responsive: true,
                plugins: {
                title: {
                    display: true,
                    text: "Sell through rate by price point"
                },
            },
            scales: {
                x: {
                    type: "linear",
                    display: true,
                    position: 'bottom',
                    title: {
                        display: true,
                        text: "£ Price point"
                    }
                },
                y1: {
                    type: "linear",
                    display: true,
                    position: 'left',
                    title: {
                        display: true,
                        text: "Number of bundles"
                    }
                },
                y2: {
                    type: "linear",
                    display: true,
                    position: 'right',
                    title: {
                        display: true,
                        text: "Sell through rate %"
                    }
                },
            },
        },
        data: {
            labels: data.map(row => row.price),
            datasets: [
                {
                    label: 'Sell through rate',
                    data: data.map(row => row.data.sell_through),
                    yAxisID: 'y2'
                },
                {
                    label: 'Collected',
                    data: data.map(row => row.data.collected),
                    yAxisID: 'y1'
                },
                {
                    label: 'No Show',
                    data: data.map(row => row.data.no_show),
                    yAxisID: 'y1'
                },
                {
                    label: 'Expired',
                    data: data.map(row => row.data.expired),
                    yAxisID: 'y1'
                }
            ]
        }
        }
    );
})();
</script>

<div class="container-fluid">
    <nav class="navbar">
        <div class="container-fluid">
            <h1 class="navbar-brand">Analytics</h1>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-5 me-5">

            <h3 class="text-center mb-4">Sell through rate</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Collected</th>
                        <th scope="col">No Show</th>
                        <th scope="col">Expired</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{sell_through.collected}}</td>
                        <td>{{sell_through.no_show}}</td>
                        <td>{{sell_through.expired}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-11">
                    <div class="progress" role="progressbar">
                        <div class="progress-bar" style="width: {{sell_through.sell_through}}"></div>
                    </div>
                </div>
                <div class="col-1">
                    <p>{{sell_through.sell_through}}%</p>
                </div>
            </div>

        </div>
        <div class="col-3 me-5">

            <h3 class="text-center mb-4">Waste proxy</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Waste avoided</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Last 7 days</th>
                        <td>{{waste_proxy.week}}kg</td>
                    </tr>
                    <tr>
                        <th scope="row">All time</th>
                        <td>{{waste_proxy.total}}kg</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-5">

            <h3 class="text-center mb-4">Operational insights</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Best Pickup Windows</th>
                        <th scope="col">Best Categories</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{best_pickup.0}}</td>
                        <td>{{best_category.0}}</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>{{best_pickup.1}}</td>
                        <td>{{best_category.1}}</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>{{best_pickup.2}}</td>
                        <td>{{best_category.2}}</td>
                    </tr>
                </tbody>

            </table>

        </div>

        <div class="col-3 ms-5">
            <h3 class="text-center mb-4">Forecast errors</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">MSE for number of reservations</th>
                        <th scope="col">MSE for reservation no show rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">All</th>
                        <td>{{reservations_error}}</td>
                        <td>{{reservations_no_show_error}}</td>
                    </tr>
                    {% for category in reservations_error_cat_zip %}
                        <tr>
                            <th scope="row">{{category.name}}</th>
                            <td>{{category.error}}</td>
                            <td>{{category.noshow}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3" style="width: 1000px;">
        <canvas id="sell-through-graph"></canvas>
    </div>

    <div class="row mt-3">
            <div class="col-12">
                <div class="card p-3">
                    <div class="card-title">
                        <h2>Actions</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}

                            <div class="input-group mb-3">
                                <label class="input-group-text" for="type">Type</label>
                                <select class="form-select" name="type" value="{{ form.initial.type }}" {% if confirm %}style="pointer-events: none;"{% endif %}>
                                    <option>Select Type</option>
                                    {% for char, name in types %}
                                        <option value="{{ char }}" {% if form.initial.type == char %} selected="selected"{% endif %}>{{name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            {{ form.type.errors }}

                            <div class="input-group mb-3">
                                <label class="input-group-text" for="category">Category</label>
                                <select class="form-select" name="category" value="{{ form.initial.category }}" {% if confirm %}style="pointer-events: none;"{% endif %}>
                                    <option>Select Category</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}" {% if form.initial.category_id == category.id %} selected="selected"{% endif %}>{{category.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            {{ form.category.errors }}

                            <div class="input-group">
                                <span class="input-group-text" >Details</span>
                                <textarea class="form-control" aria-label="details" name="details" {% if confirm %} style="pointer-events: none;" {% endif %}>{{ form.initial.details }} </textarea>
                            </div>

                            {{ form.details.errors }}

                            <div class="d-flex justify-content-end">
                                    <button type="submit" value="confirm" class="btn btn-primary me-auto mt-3" name="submit">Confirm</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}