{% extends "layout.html" %}

{% block content %}

{{ form.non_field_errors }}

<nav class="navbar">
    <div class="container-fluid">
        {% if confirm %}
            <h1 class="navbar-brand"> Confirm Bundle</h1>
        {% else %}
            <h1 class="navbar-brand">Create Bundle</h1>
        {% endif %}
    </div>
</nav>
<div class="container-fluid">

    <form method="post" action="">
        {% csrf_token %}

        <div class="input-group mb-3">
            <span class="input-group-text" for="name">Bundle Name</span>
            <input type="text" class="form-control" value="{{ form.initial.name }}" aria-label="bundle-name" aria-describedby="bundle-name" name="name" {% if confirm %} style="pointer-events: none;" {% endif %}>
        </div>

        {{ form.name.errors }}

            
        <div class="input-group mb-3">
            <label class="input-group-text" for="category">Categories</label>
            <select class="form-select" name="category" value="{{ form.initial.category }}" {% if confirm %}style="pointer-events: none;"{% endif %}>
                <option>Select Category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if form.initial.category_id == category.id %} selected="selected"{% endif %}>{{category.name}}</option>
                {% endfor %}
            </select>
        </div>

        {{ form.category.errors }}

        Allergens
        <div class="d-flex flex-wrap">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"name="allergen_celery" {% if form.initial.allergen_celery == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;"{% endif %}>
                <label class="form-check-label" for="allergen_celery">celery</label>
                {{ form.allergen_celery.errors }}
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"name="allergen_gluten" {% if form.initial.allergen_gluten == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;" {% endif %}>
                <label class="form-check-label" for="allergen_gluten">gluten</label>
                {{ form.allergen_gluten.errors }}
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"name="allergen_crustacean" {% if form.initial.allergen_crustacean == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;" {% endif %}>
                <label class="form-check-label" for="allergen_crustacean">crustaceans</label>
                {{ form.allergen_crustacean.errors }}
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"name="allergen_egg" {% if form.initial.allergen_egg == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;" {% endif %}>
                <label class="form-check-label" for="allergen_egg">eggs</label>
                {{ form.allergen_egg.errors }}
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"name="allergen_fish" {% if form.initial.allergen_fish == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;" {% endif %}>
                <label class="form-check-label" for="allergen_fish">fish</label>
                {{ form.allergen_fish.errors }}
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="allergen_lupin" {% if form.initial.allergen_lupin == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;" {% endif %}>
                <label class="form-check-label" for="allergen_lupin">lupin</label>
                {{ form.allergen_lupin.errors }}
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"name="allergen_dairy" {% if form.initial.allergen_dairy == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;" {% endif %}>
                <label class="form-check-label" for="allergen_dairy">dairy</label>
                {{ form.allergen_dairy.errors }}
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"name="allergen_mollusc" {% if form.initial.allergen_mollusc == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;" {% endif %}>
                <label class="form-check-label" for="allergen_mollusc">molluscs</label>
                {{ form.allergen_mollusc.errors }}
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"name="allergen_mustard" {% if form.initial.allergen_mustard == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;" {% endif %}>
                <label class="form-check-label" for="allergen_mustard">mustard</label>
                {{ form.allergen_mustard.errors }}
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"name="allergen_nut" {% if form.initial.allergen_nut == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;" {% endif %}>
                <label class="form-check-label" for="allergen_nut">nuts</label>
                {{ form.allergen_nut.errors }}
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"name="allergen_peanut" {% if form.initial.allergen_peanut == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;" {% endif %}>
                <label class="form-check-label" for="allergen_peanut">peanuts</label>
                {{ form.allergen_peanut.errors }}
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"name="allergen_sesame" {% if form.initial.allergen_sesame == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;" {% endif %}>
                <label class="form-check-label" for="allergen_sesame">sesame seeds</label>
                {{ form.allergen_sesame.errors }}
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"name="allergen_soya" {% if form.initial.allergen_soya == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;" {% endif %}>
                <label class="form-check-label" for="allergen_soya">soya</label>
                {{ form.allergen_soya.errors }}
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"name="allergen_sulphite" {% if form.initial.allergen_sulphite == True %}checked{% endif %} {% if confirm %} style="pointer-events: none;" {% endif %}>
                <label class="form-check-label" for="allergen_sulphite">sulphur dioxide/sulphites</label>
                {{ form.allergen_sulphite.errors }}
            </div>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">£</span>
            <input type="number" value="{{ form.initial.price }}" class="form-control" aria-label="Pound amount (with dot and two decimal places)" name="price" step="0.01" {% if confirm %} style="pointer-events: none;" {% endif %}>
        </div>

        {{ form.price.errors }}  

        <div class="input-group mb-3">
            <span class="input-group-text" name="bundle-quantity">Quantity</span>
            <input type="number" class="form-control" value="{{ form.initial.quantity }}" aria-label="bundle-quantity" aria-describedby="bundle-label" name="quantity" {% if confirm %} style="pointer-events: none;" {% endif %}>
        </div>

        {{ form.quantity.errors }}

        <div class="input-group mb-3">
            <span class="input-group-text" name="pick_up_window">Pick-up Window</span>
                <input
                type="time"
                name="pickup_window_start" value="{{ form.initial.pickup_window_start }}"
                {% if confirm %} style="pointer-events: none;" {% endif %} required/>

                <input
                type="time"
                name="pickup_window_end" value="{{ form.initial.pickup_window_end }}"
                {% if confirm %} style="pointer-events: none;" {% endif %} required/>
        </div>
        {{ form.pickup_window_start.errors }}
        {{ form.pickup_window_end.errors }}

        <div class="input-group">
            <span class="input-group-text" >Description</span>
            <textarea class="form-control" aria-label="description" name="contents_description" {% if confirm %} style="pointer-events: none;" {% endif %}>{{ form.initial.contents_description }} </textarea>
        </div>
        {{ form.contents_description.errors }}

        {% if confirm %}
        <div class="row mt-3">
            <div class="col-12">
                <div class="card p-3">
                    <div class="card-title">
                        <h2>Forecast</h2>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Expected Reservations</th>
                                    <th scope="col">Expected Reservations for that category</th>
                                    <th scope="col">Expected No-shows</th>
                                    <th scope="col">Expected No-shows for that category</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <th>{{ exp_res }}</th>
                                        <th>{{ exp_res_cat }}</th>
                                        <th>{{ exp_no_show }}</th>
                                        <th>{{ exp_no_show_cat }}</th>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="d-flex justify-content-end">
            {% if confirm %}
                <button type="submit" value="create" class="btn btn-primary me-auto mt-3" name="submit">Create</button>
            {% else %}
                <button type="submit" value="confirm" class="btn btn-primary me-auto mt-3" name="submit">Confirm</button>
            {% endif %}
            <a href="{% url 'bundle_new_view_url' %}" class="btn btn-outline-secondary mt-3 ms-auto">Discard</a>
        </div>
    </form>

</div>
{% endblock %}