{% extends 'layout.html' %}
{% block content %}

<div class="container">

    <h1>Show Bundle</h1>
    <hr>
    <div class="row">

        <div class="col-9">

            <h2>Bundle Title</h2>
            <hr>
            <p>This is a bundle description.</p>
            <hr>

            <div class="row">    
                <div class="col">
                    <p>Category</p>
                    <p>Allergens: Nut, Fish</p>
                </div>
                <div class="col">
                    <p>Price: £10.00</p>
                    <p>Available: 3</p>
                    <button type="button" class="btn btn-outline-primary">Reserve</button>
                </div>
            </div>

        </div>

        <div class="vr p-0"></div>

        <div class="col">
            
            <h2>Company Name</h2>
            <p>Location</p>
            <h3>Opening Times</h3>
            <p>09:00-17:00</p>
            <p>Telephone</p>
            <p>Email@gmail.com</p>
            <p>website.url</p>

        </div>

    </div>

</div>

{% endblock %}