{% extends 'layout.html' %}
{% block content %}

<div class="container-fluid">
    <nav class="navbar">
        <div class="container-fluid">
            <h1 class="navbar-brand">Bundle {{post.name}}</h1>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <!-- Title + Description -->
    <h2>{{post.name|default:"Untitled Bundle"}}</h2>
    <p>{{post.contents_description|default:"No description provided."}}
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <p>{{post.id}}</p>
                    <div class="row">    
                        <div class="col">
                            <p>{{post.category}}</p>
                            <p>Allergens: 
                                {% if post.allergen_celery %}Celery {% endif %}
                                {% if post.allergen_crustacean %}Crustacean {% endif %}
                                {% if post.allergen_dairy %}Dairy {% endif %}
                                {% if post.allergen_egg %}Egg {% endif %}
                                {% if post.allergen_fish %}Fish {% endif %}
                                {% if post.allergen_gluten %}Gluten {% endif %}
                                {% if post.allergen_lupin %}Lupin {% endif %}
                                {% if post.allergen_mollusc %}Mollusc {% endif %}
                                {% if post.allergen_mustard %}Mustard {% endif %}
                                {% if post.allergen_nut %}Nut {% endif %}
                                {% if post.allergen_peanut %}Peanut {% endif %}
                                {% if post.allergen_sesame %}Sesame {% endif %}
                                {% if post.allergen_soya %}Soya {% endif %}
                                {% if post.allergen_sulphite %}Sulphite {% endif %}
                            </p>
                        </div>
                        <div class="col">
                            <p>Price: £{{post.price}}</p>
                            <p>Available: {{post.quantity}}</p>
                        </div>
                    </div>    
                </div>
            </div>
            <button type="button" class="btn btn-outline-primary mt-3">Reserve</button>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h2>{{post.seller.user.username}}</h2>
                    <p>{{post.seller.location}}</p>
                    <p><strong>Opening Times</strong></p>
                    <p>{{post.seller.opening_time}} - {{post.seller.closing_time}}</p>
                    <p>{{post.seller.telephone_number}}</p>
                    <p>{{post.seller.user.email}}</p>
                    <p><a class="link-opacity-50-hover" href={{post.seller.website_url}}>{{post.seller.website_url}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}