{% extends "layout.html" %}

{% block content %}

{# Show Django messages (e.g., "Check your details") #}
{% if messages%}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{message.tags}}"{%endif%}>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

{{ form.non_field_errors }}

<nav class="navbar">
    <div class="container-fluid">
        <h1 class="navbar-brand">Issue Report</h1>
    </div>
</nav>
<div class="container-fluid">

    <form method="post" action="">
        {% csrf_token %}

        <div class="input-group mb-3">
            <label class="input-group-text" for="type">Type</label>
            <select class="form-select" name="type">
                <option selected>Choose...</option>
                <option value="C">Collection</option>
                <option value="A">Additional Information</option>
                <option value="S">Seller</option>
            </select>
        </div>
        
        {{ form.type.errors }}

        <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" aria-label="description" name="description"></textarea>
        </div>

        {{ form.description.errors }}

        <div class="d-flex justify-content-end">
            <input type="submit" value="Confirm" class="btn btn-primary" name="submit">
        </div>

    </form>
</div>
{% endblock %}
    