{% extends "layout.html" %}

{% block content %}

{{ form.non_field_errors }}

<nav class="navbar">
    <div class="container-fluid">
        <h1 class="navbar-brand">Issue Report</h1>
    </div>
</nav>
<div class="container-fluid">

    <form method="post" action="">
        {% csrf_token %}

        <div class="input-group mb-3">
            <label class="input-group-text" for="type">Type</label>
            <select class="form-select" name="type">
                <option selected>Choose...</option>
                <option value="C">Collection</option>
                <option value="A">Additional Information</option>
                <option value="S">Seller</option>
            </select>
        </div>
        
        {{ form.type.errors }}

        <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" aria-label="description" name="description"></textarea>
        </div>

        {{ form.description.errors }}

        <div class="d-flex justify-content-end">
            <input type="submit" value="Confirm" class="btn btn-primary" name="submit">
        </div>

    </form>
</div>
{% endblock %}
    