{% extends 'layout.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">
    <nav class="navbar">
        <div class="container-fluid">
            <h1 class="navbar-brand">Terms of Service</h1>
        </div>
    </nav>
</div>

<div class="row">
    <div class="card mb-4">
        <div class="card-body">
            <h2>Proper Usage</h2>
            <p>The websites only usage is to allow sellers to upload and advertise bundles of food, and for customers to reserve the bundles. Alongside this, users are not allowed to engage in harassment or inciting hatred against another person or group, and false advertising. Any users that are not using the service for its intended purpose, may have their account deleted.</p>
            <h2>Privacy Policy</h2>
            <p>Under the Data Protection Act 2018,  the service is responsible for ensuring that user data is used fairly, lawfully and transparently, used in explicitly specified purposes that is limited to only what is necessary, is kept for no longer than needed and is handled in a way that ensures appropriate security, with regard to the information that is held and processed by the website.</p>
            <p>The only information that the website will store is the user’s email and display name – and if they are a seller: name of the company business, the location of the business, the opening and closing times of the business, the telephone number of the business and the website of the business, which is given by the user with their consent. This information will be stored for as long as the user has an account with the service.</p>
            <h2>Account Termination</h2>
            <p>If a user wishes to delete their account, they can contact the webmaster to do so.</p>
            <h2>Legal Disclaimer and User Rights</h2>
            <p>The service is not responsible for returns, refunds, or damaged goods, as that is managed by each individual seller.</p>
            <p>Bundles that have not been sold during their designated window are marked as expired and are prohibited from being resold.</p>
            <p>In accordance with UK law, bundles are not allowed to be edited once they have been created.</p>
            <p>The service ensures that the goods that the sellers are providing are fit for purpose, any bundles sold are as described on the website and that the bundles are at a satisfactory quality for the consumer.</p>
            <h2>Intellectual Property</h2>
            <p>The marketplace brand belongs to the service. However, any fonts used by the service have been licenced to be used. Furthermore, if a user uploads any content to the site, this acts as permission for the website to licence and host the content. Any uploaded bundles fall under these terms.</p>
        </div>
    </div>
</div>

{% endblock %}